.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix

content/1. Project/202310_career_qna/files/
content/4. Archive/Wavve/
content/2. Area/Career/Files/
content/Templates/

*.env
__pycache__/
*.mov
